<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2018 Keval Patel.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.ci.greenbuild">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:name=".GBApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".repoList.RepoListActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".repoDetail.RepoDetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.kevalpatel2106.ci.greenbuild.ciSelector.CiSelectorActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute" />

        <!-- This service implements our SyncAdapter. -->
        <service
            android:name=".syncAdapter.SyncService"
            android:exported="true"
            tools:ignore="ExportedService">

            <!--
            This intent filter is required. It allows the system to launch our sync service
            as needed.
            -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".syncAdapter.AccountAuthenticatorService"
            android:exported="false"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".syncAdapter.StubContentProvider"
            android:authorities="@string/sync_adapter_account_authority"
            android:exported="false"
            android:label="GitClient"
            android:syncable="true" />
    </application>

</manifest>